<footer class="footer" style="background-color: #344D85;">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#" style=" color: #ffffff;">Facebook</a></li>
                    <li><a href="#" style=" color: #ffffff;">Blog</a></li>
                    <li><a href="#" style=" color: #ffffff;">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright" style=" color: #ffffff;">
                    © {{test | date: 'yyyy'}}, made  by  Shaheryar
                </span>
            </div>
        </div>
    </div>
</footer>
