<div class="page-header" style="height: 0px;">
   
    <img src="./assets/img/daniel-olahh.jpg" alt="" width="1000px">
    
    
    
</div>
<div class="main">
  <div class="container">
    <h2 style="font-weight: bold;">Blog Detail :</h2><br>
    <h5 style="font-weight: bolder;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo eum incidunt ipsam iusto necessitatibus voluptates temporibus repudiandae, error explicabo officia sed quis dignissimos nobis, vero et consectetur ipsa minima neque.</h5><br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae quisquam doloremque accusantium sunt atque voluptas quas commodi quis praesentium ullam. Tenetur at magni quia, est saepe non temporibus molestias accusantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, sequi itaque! Qui natus voluptatibus dicta beatae eveniet unde officia minima omnis, voluptas hic laudantium doloribus fuga iste, dolore asperiores quibusdam!</p>
  </div>
  <br>
        
        
    
    
    
    
        
</div>


